{% extends "home/base_site.html" %}

{% block conteudo %}

    {% if foto_list %}
    <h3>Minhas imagens</h3>
        <div class="row clearfix">
            <div id="meus-links" class="text-center">
                {% for foto in foto_list %}
                    <a href="#">{{ forloop.counter }}</a>
                {% endfor %}
            </div>
        </div>
        <ul>
        {% for foto in foto_list %}
            <li class="minha-foto">
                <img class="img-responsive" height="1200" width="900" src="{{ foto.image_url }}" alt="{{ foto.descricao }}">
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Essa galeria não tem foto</p>
    {% endif %}
{% endblock conteudo %}

