{% extends "home/base_site.html" %}

{% block conteudo %}
<h3>Minhas galerias</h3>
    {% if galeria_list %}
        {% for galeria in galeria_list %}
        <div class="foto-{{ galeria.id }}">
            <a href="{{ galeria.id }}/fotos">{{ galeria.title }}</a>
        </div>
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock conteudo %}
